.fa-brands {
  color: #fff;
}

#header-nav {
  height: 41px;
}

.logo {
  width: 45px;
  height: 45px;
}

.container-fluid img {
  max-height: 550px;
}

#header-slide {
  padding: 0;
}

#btn-tin-tuc-khac:hover {
  color: #fff !important;
  background-color: red !important;
  transform: scale(0.9);
  transition: 0.4s ease-in-out;
}

.khoa-bo-mon iframe {
  margin-bottom: 5px;
}
